<!DOCTYPE html>
{#{% load static %}#}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Receipes show</title>
</head>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>
<h3>All Receipes List </h3>
<form action="">
<div>
    <input type="text" placeholder="Receipes Name" name="rec_name_search" id="rename_search">
    <button type="submit">Search
    </button>
</div>
<br>
</form>
<table  style="width:100%">

     <tr>
        <th>Receipes Name</th>
        <th>Receipes Price</th>
         <th>Receipes Descriptions</th>
        <th>Image</th>
         <th> Action </th>
     </tr>

     {% for i in data_rece %}
      <tr>
          <td>{{ i.rec_name }}</td>
          <td>{{ i.rec_price }}</td>
          <td>{{i.rec_dis}}</td>
         <td>
             <img src="/images/{{ i.rec_image }}" alt="wait" style="height: 100px " >    </td>
        <td><a href="/delete_receipes/{{ i.id}}/"> Delete</a>
          <br>
          <br>
          <a href="/update_receipes/{{ i.id }}/"> Update</a>
      </td>

      </tr>
    {% endfor %}
     </table>


</body>
</html>